$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(207, 26%, 17%);

.countries {
  max-width: 1495px;
  margin: auto;
  margin-top: -200px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  a {
    text-decoration: none;
  }
  .country {
    width: 280px;
    height: 300px;
    background-color: $white;
    margin: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-20px);
    }
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    h5,
    p,
    span {
      color: $very-dark-blue;
    }
    .info {
      padding: 10px;
      padding-left: 20px;
      h5 {
        margin-bottom: 10px;
        font-size: 17px;
      }
      p {
        margin-bottom: 5px;
        font-weight: 600;
        span {
          font-weight: 400;
        }
      }
    }
  }
  .additionalDiv {
    width: 280px;
  }
}

@media screen and(max-width: 995px) {
  .countries {
    max-width: 750px;
  }
}

@media screen and(max-width: 665px) {
  .countries {
    width: fit-content;
  }
}
