$very-dark-blue: hsl(207, 26%, 17%);
$white: hsl(0, 0%, 100%);

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
  margin: 80px;
  margin-left: 5%;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: $very-dark-blue;
  cursor: pointer;
  .back-arrow {
    color: $very-dark-blue;
    margin-right: 5px;
  }
}
a {
  text-decoration: none;
}

.details-container {
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  img {
    width: 600px;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    margin-right: 10%;
  }
  .info {
    max-width: 600px;
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .more-details {
      display: flex;
      .first-part {
        margin-right: 70px;
      }
    }
    p {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 10px;
      span {
        font-weight: 400;
      }
    }
    .borders {
      margin-top: 30px;
      width: fit-content;
      display: flex;
      .border-countries {
        max-width: 450px;
        display: flex;
        flex-wrap: wrap;
        a {
          display: inherit;
        }
      }
      span {
        margin: 0 10px;
        margin-bottom: 15px;
        padding: 10px 20px;
        text-align: center;
        background-color: $white;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and(max-width: 1330px) {
  .details-container .info {
    margin-top: 30%;
    .more-details {
      flex-direction: column;
    }
  }
}

@media screen and(max-width: 1000px) {
  .details-container {
    flex-direction: column;
    .info {
      margin-top: 30px;
      .more-details {
        flex-direction: row;
      }
    }
  }
}

@media screen and(max-width: 700px) {
  .details-container {
    img {
      width: 90%;
      height: 300px;
      margin: auto;
      display: block;
    }
  }
}

@media screen and(max-width: 400px) {
  .details-container {
    img {
      height: 200px;
    }
    .info {
      padding-left: 5%;
      .more-details {
        flex-direction: column;
      }
    }
  }
}
